<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="box">
    <h2>Admin Dashboard</h2>

    <div class="dashboard">
        <a href="{{ url_for('add_product') }}" class="dash-card">
            <h3>Add Product</h3>
            <p>Add new grocery items</p>
        </a>

        <a href="{{ url_for('view_products') }}" class="dash-card">
            <h3>View Products</h3>
            <p>See all available items</p>
        </a>

        <a href="#" class="dash-card disabled">
            <h3>Orders</h3>
            <p>Coming soon</p>
        </a>
    </div>
</div>

</body>
</html>
